{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1>Produit dans le panier : </h1>
    {# ancien code
    {% if produitid != null %}
        {% for PRODUIT in produit %}
            {% if PRODUIT.id == produitid%}
                <p1>nom du produit:{{PRODUIT.nom}}<br></p1>
                <p2>nombre de produit : {{quantite}}<br></p2>
                <p2>Prix :{{PRODUIT.prix}} €<br></p2>
                <p3>Prix total :{{PRODUIT.prix * quantite}} €</p2>

           {% endif %}
        {% endfor %}
    {% endif %}#} 

    {% for COMMANDE in commande %}
        {% if COMMANDE.client == user %}
            {% for PANIER in panier %}
                {% if PANIER.commande.id == COMMANDE.id %}
                    {% if PANIER.état == 0%}
                        {% for PRODUIT in produit %}
                            {% if PRODUIT.id == PANIER.produit.id %}
                                <h5>Commande de : {{PRODUIT.nom}}<br></h5>
                                <p2>nombre de produit : {{PANIER.quantite}}<br></p2>
                                <p2>Prix :{{PRODUIT.prix}} €<br></p2>
                                <p3>Prix total :{{COMMANDE.Prixtotal}} €</p2>

                                <form method="post" action="/confirmercommande">
                                    <input type="hidden" name="idpanier" value={{PANIER.id}}>
                                    <input type="hidden" name="idcommande" value={{COMMANDE.id}}>
                                    <input type="submit" value="Confirmer commande">
                                </form>
                                <form method="post" action="/supprimercommande">
                                    <input type="hidden" name="idpanier" value={{PANIER.id}}>
                                    <input type="hidden" name="idcommande" value={{COMMANDE.id}}>
                                    <input type="submit" value="Supprimer commande">
                                </form>
                            {% endif %} 
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}   
{% endblock %}
