{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue {{profil.prenom}} {{profil.nom}}</h1>

    {% if form %}
    <form method="POST" action= "/profilinformationsset">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ profil.email }}"required><br>

        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" value="{{ profil.nom }}" required>

        <label for="surname">Prenom:</label>
        <input type="text" id="surname" name="surname" value="{{ profil.prenom }}" required><br>

        <label for="phoneNumber">Téléphone:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" value="{{ profil.telephone }}" required><br>

        <label for="birthdate">Date de naissance:</label>
        <input type="date" id="birthdate" name="birthdate" value="{{ profil.datenaissance }}" required><br>
        

        <button type="submit">Changer</button>
    </form>

    {% else %}
    <li>Prenom : {{profil.prenom}} </li>
    <li>Nom : {{profil.nom}}</li>  
    <li>Email : {{profil.email}}</li> 
    <li>Téléphone : {{profil.telephone}}</li>
    <li>Date de naissance : {{profil.datenaissance}}</li>  
    <li>Code client: {{profil.code}}</li>
    
    <form method="post" action="{{path('app_profil')}}">
        <button type="submit" name="show">Changer les informations</button>
    </form>
    {% endif %}

</div>
{% endblock %}
